<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927208923132-4hhn37r74vs6c57hei4b3imt4be474rs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927208923132-4hhn37r74vs6c57hei4b3imt4be474rs</string>
	<key>API_KEY</key>
	<string>AIzaSyD0D9D_xbIDNvYHIgZoVeLj9g7W0v-eRU8</string>
	<key>GCM_SENDER_ID</key>
	<string>927208923132</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shortform</string>
	<key>PROJECT_ID</key>
	<string>tiktok-clone-74a29</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktok-clone-74a29.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927208923132:ios:789339037a4ce4ec31dc79</string>
</dict>
</plist>